html, body, h1, h2, h3, h4, p, div, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	list-style: none;
	text-decoration: none;
}
@font-face {

}
@media screen and (min-width:600px)  {

}
.topHalf {
	width: 100vw;
	height: 100 vh;
	background: url(images/background/starrynightsky.jpeg), black;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
h1, h2 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	color: #FFFFFF;
	margin-right: 25%;
	margin-left: 25%;
	padding-top: 10px;
}
#deal:hover {
	cursor: url(), auto;
}
.buttons img, .buttons input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
.buttons img {
	height: 200px;
}
.buttons input {
	margin-bottom: 20px;
	background-color: transparent;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}
#hand img {
	padding: 7px;
	height: 225px;
}